<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/pokedex-logo.png" alt="Logo pokedex" id="logo" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Portada <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Generación 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Generación 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
          >Generación 3</a
        >
      </li>
    </ul>
  </div>
</nav>
<!-- Este es el encabezado -->
<div class="alert alert-warning" role="alert">
  <h1 class="alert-heading text-center">Bienvenido a pokedex!</h1>
  <hr />
  <p class="mb-0 text-center">
    WikiDex es la mayor enciclopedia Pokémon en español, con 20 322 artículos,
    que abarca toda la información oficial de los videojuegos, anime, manga y
    juego de cartas coleccionables. También tú puedes colaborar con nosotros
    corrigiendo o ampliando contenidos. Para información básica sobre cómo
    escribir en un wiki, puedes consultar nuestras páginas de ayuda. Si tienes
    cualquier duda entra en el foro. Puedes comunicarte con otros usuarios en
    tiempo real a través de nuestro servidor
  </p>
</div>
<hr />
<!-- Este es el contenido -->
<section>
  <div class="row">
    <!-- Este es el formulario para agregar nuevos pokemons -->
    <div class="col">
      <form class="agregar-pokemon">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="inptNombre">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="inptNombre"
                placeholder="Nombre"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="inptTipo">Tipo</label>
              <input
                type="text"
                class="form-control"
                id="inptTipo"
                placeholder="Tipo"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="inptCategoria">Categoría</label>
              <input
                type="text"
                class="form-control"
                id="inptCategoria"
                placeholder="Categoría"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="inptHabilidad">Habilidad</label>
              <input
                type="text"
                class="form-control"
                id="inptHabilidad"
                placeholder="Habilidad"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="inptPeso">Peso</label>
              <input
                type="text"
                class="form-control"
                id="inptPeso"
                placeholder="Peso"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="txtDetalles">Detalles</label>
              <textarea
                class="form-control"
                id="txtDetalles"
                rows="3"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row text-right">
          <div class="col">
            <div class="btn-group" role="group">
              <button class="btn btn-success mb-2">
                Limpiar
              </button>
              <button type="submit" class="btn btn-warning mb-2">
                Agregar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- Este es la lista de pokemons -->
    <div class="col">
      <div class="card mb-3" style="max-width: 500px;">
        <div class="row no-gutters">
          <div class="col-md-7">
            <img
              src="../assets/images/pokemons/bulbasaur.png"
              class="card-img"
              alt="..."
            />
          </div>
          <div class="col-md-5">
            <div class="card-body">
              <h5 class="card-title">Bulbasaur</h5>
              <p class="card-text">
                <span>Tipo: </span><span>Planta/Veneno</span>
              </p>
              <p class="card-text">
                <span>Categoría: </span><span>Semilla</span>
              </p>
              <p class="card-text">
                <span>Habilidad: </span><span>Espesura</span>
              </p>
              <p class="card-text"><span>Peso: </span><span>6.9K</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="card mb-3" style="max-width: 500px;">
        <div class="row no-gutters">
          <div class="col-md-7">
            <img
              src="../assets/images/pokemons/Ivysaur.png"
              class="card-img"
              alt="..."
            />
          </div>
          <div class="col-md-5">
            <div class="card-body">
              <h5 class="card-title">Ivysaur</h5>
              <p class="card-text">
                <span>Tipo: </span><span>Planta/Veneno</span>
              </p>
              <p class="card-text">
                <span>Categoría: </span><span>Semilla</span>
              </p>
              <p class="card-text">
                <span>Habilidad: </span><span>Espesura</span>
              </p>
              <p class="card-text"><span>Peso: </span><span>13K</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="card mb-3" style="max-width: 500px;">
        <div class="row no-gutters">
          <div class="col-md-7">
            <img
              src="../assets/images/pokemons/Venusaur.png"
              class="card-img"
              alt="..."
            />
          </div>
          <div class="col-md-5">
            <div class="card-body">
              <h5 class="card-title">Venusaur</h5>
              <p class="card-text">
                <span>Tipo: </span><span>Planta/Veneno</span>
              </p>
              <p class="card-text">
                <span>Categoría: </span><span>Semilla</span>
              </p>
              <p class="card-text">
                <span>Habilidad: </span><span>Espesura</span>
              </p>
              <p class="card-text"><span>Peso: </span><span>100K</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 4 -->
      <div class="card mb-3" style="max-width: 500px;">
        <div class="row no-gutters">
          <div class="col-md-7">
            <img
              src="../assets/images/pokemons/charmander.png"
              class="card-img"
              alt="..."
            />
          </div>
          <div class="col-md-5">
            <div class="card-body">
              <h5 class="card-title">Charmander</h5>
              <p class="card-text"><span>Tipo: </span><span>Fuego </span></p>
              <p class="card-text">
                <span>Categoría: </span><span>Lagartija </span>
              </p>
              <p class="card-text">
                <span>Habilidad: </span><span>Mar Llamas </span>
              </p>
              <p class="card-text"><span>Peso: </span><span>8.5K</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Este es el detalle del pokemon -->
    <div class="col">
      <div class="card" style="max-width: 500px;">
        <div class="text-center"><img
          src="../assets/images/pokemons/bulbasaur.png"
          class="card-img-top"
          alt="bulbasaur"
          style="max-width: 250px;" /></div>
        
        <div class="card-body">
          <h5 class="card-title">Bulbasaur</h5>
          <p class="card-text">
            Bulbasaur es un Pokémon cuadrúpedo y de color verde que posee
            manchas algo más oscuras con distintas formas geométricas. Su cabeza
            representa cerca de un tercio de su cuerpo. En su frente se ubican
            tres manchas que pueden cambiar de posición, forma o lugar
            dependiendo del ejemplar. Tiene como orejas muñones pequeños y
            puntiagudos. Sus ojos son grandes y de color rojo. Sus patas son
            cortas y posee tres garras en cada una. Este Pokémon tiene plantado
            un bulbo en el lomo desde que nace. Esta semilla crece y se
            desarrolla a lo largo del ciclo de vida de Bulbasaur a medida que
            suceden sus evoluciones.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span>Tipo: </span><span>Planta/Veneno</span>
          </li>
          <li class="list-group-item">
            <span>Categoría: </span><span>Semilla</span>
          </li>
          <li class="list-group-item">
            <span>Habilidad: </span><span>Espesura</span>
          </li>
          <li class="list-group-item"><span>Peso: </span><span>6.9K</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
